<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-2.5.xsd">
       
    <context:annotation-config />

	<!-- Device Subsystem -->
	<bean id="deviceCoordinator" class="com.matt.remotr.core.device.DeviceCoordinatorDefault">
	    <property name="eventForwarder" ref="eventCoordinator" />
	</bean>
	<bean id="deviceCoordinatorWs" class="com.matt.remotr.core.device.DeviceCoordinatorWsImpl" autowire="default" />
	
	<!-- Resource Subsystem -->
	<bean id="resourceCoordinator" class="com.matt.remotr.core.resource.ResourceCoordinatorDefault">
		<property name="deviceCoordinator" ref="deviceCoordinator" />
		<property name="eventCoordinator" ref="eventCoordinator" />
	</bean>

	<!-- WsTcp Subsystem -->
	<bean id="tcpCoordinator" class="com.matt.remotr.tcpws.TcpWsCoordinatorDefault">
		<constructor-arg name="tcpWsEnabled" value="true" />
		<constructor-arg name="portNumber" value="3030" />
		<property name="deviceCoordinator" ref="deviceCoordinator" />
		<property name="eventForwarder" ref="eventCoordinator" />
		<property name="maxConnections" value="10" />
	</bean>
	
	<!-- Request Managers -->
	<bean id="wsRequestManager" class="com.matt.remotr.ws.request.WsRequestManagerDefault">
	    <property name="responseForwarder" ref="eventCoordinator"/>
	</bean>
	
	<!-- XMPP SubSystem -->
	<bean id="xmppCoordinator" class="com.matt.remotr.xmpp.XmppCoordinatorDefault">
	    <constructor-arg name="xmppServerAddress" value="192.168.1.1" />
	    <constructor-arg name="deviceCoordinator" ref="deviceCoordinator" />
	    <property name="requestManager" ref="wsRequestManager" />
	    <property name="eventCoordinator" ref="eventCoordinator" />
	</bean>

	<!-- Event Subsystem -->
	<bean id="eventCoordinator" class="com.matt.remotr.core.event.EventCoordinatorDefault">
		<property name="deviceCoordinator" ref="deviceCoordinator" />
		<property name="resourceCoordinator" ref="resourceCoordinator" />
		<property name="tcpWsSender" ref="tcpCoordinator" />
		<property name="xmppWsSender" ref="xmppCoordinator" />
	</bean>
	<bean id="eventCoordinatorWs" class="com.matt.remotr.core.event.EventCoordinatorWsImpl" autowire="default" />

	<!-- Job subsystem -->
	<bean id="jobCoordinator" class="com.matt.remotr.core.job.JobCoordinatorDefault">
		<property name="deviceCoordinator" ref="deviceCoordinator" />
		<property name="eventCoordinator" ref="eventCoordinator" />
		<property name="resourceCoordinator" ref="resourceCoordinator" />
	</bean>
	<bean id="jobCoordinatorWs" class="com.matt.remotr.core.job.JobCoordinatorWsImpl" autowire="default" />

</beans>