<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-2.5.xsd">
       
    <context:annotation-config />

	<!-- WS Subsystem -->
	<bean id="wsCoordinatorService" class="com.remotr.subsystem.ws.WsCoordinatorService">
		<property name="wsCoordinator" ref="wsCoordinator" />
		<property name="eventForwarder" ref="eventCoordinator"/>
	</bean>
	<bean id="wsCoordinator" class="com.remotr.subsystem.ws.WsCoordinatorDefault">
	    <property name="responseForwarder" ref="eventCoordinator"/>
	    <property name="eventForwarder" ref="eventCoordinator"/>
	    <property name="sessionCoordinator" ref="sessionCoordinator" />
	</bean>
	
	<!-- Sessions Subsystem -->
	<bean id="sessionCoordinator" class="com.remotr.subsystem.session.SessionCoordinatorDefault">
		<property name="eventCoordinator" ref="eventCoordinator" />
		<property name="deviceCoordinator" ref="deviceCoordinator" />
	</bean>
		<bean id="sessionCoordinatorService" class="com.remotr.subsystem.session.SessionCoordinatorService">
		<property name="wsCoordinator" ref="wsCoordinator" />
		<property name="sessionCoordinator" ref="sessionCoordinator" />
	</bean>
	
	<!-- Device Subsystem -->
	<bean id="deviceCoordinator" class="com.remotr.subsystem.device.DeviceCoordinatorDefault">
	    <property name="eventForwarder" ref="eventCoordinator" />
	    <property name="sessionCoordinator" ref="sessionCoordinator" />
	</bean>
	<bean id="deviceCoordinatorWs" class="com.remotr.subsystem.device.DeviceCoordinatorService">
		<property name="wsCoordinator" ref="wsCoordinator" />
		<property name="deviceCoordinator" ref="deviceCoordinator" />
	</bean>
	
	<!-- Resource Subsystem -->
	<bean id="resourceCoordinator" class="com.remotr.subsystem.device.resource.ResourceCoordinatorDefault">
		<property name="deviceCoordinator" ref="deviceCoordinator" />
		<property name="eventCoordinator" ref="eventCoordinator" />
	</bean>

	<!-- WsTcp Subsystem -->
	<bean id="tcpManager" class="com.remotr.subsystem.tcpws.TcpWsManagerDefault">
		<constructor-arg name="tcpWsEnabled" value="true" />
		<constructor-arg name="portNumber" value="3030" />
		<property name="deviceCoordinator" ref="deviceCoordinator" />
		<property name="eventForwarder" ref="eventCoordinator" />
		<property name="maxConnections" value="10" />
	</bean>
	
	<!-- XMPP SubSystem -->
	<bean id="xmppManager" class="com.remotr.subsystem.xmpp.XmppManagerDefault">
	    <constructor-arg name="xmppServerAddress" value="192.168.1.1" />
	    <constructor-arg name="deviceCoordinator" ref="deviceCoordinator" />
	    <property name="requestManager" ref="wsCoordinator" />
	    <property name="eventCoordinator" ref="eventCoordinator" />
	</bean>
	
	<!-- Ws Sockets -->
	<bean id="wsSocketManager" class="com.remotr.subsystem.websocket.WsSocketManagerDefault" />
 
	<!-- Event Subsystem -->
	<bean id="eventCoordinator" class="com.remotr.subsystem.event.EventCoordinatorDefault">
		<property name="deviceCoordinator" ref="deviceCoordinator" />
		<property name="resourceCoordinator" ref="resourceCoordinator" />
		<property name="tcpWsSender" ref="tcpManager" />
		<property name="xmppWsSender" ref="xmppManager" />
		<property name="wsSocketSender" ref="wsSocketManager" />
	</bean>
	
	<bean id="eventCoordinatorWs" class="com.remotr.subsystem.event.EventCoordinatorService">
		<property name="eventCoordinator" ref="eventCoordinator"/>
		<property name="deviceCoordinator" ref="deviceCoordinator"/>
		<property name="resourceCoordinator" ref="resourceCoordinator"/>
		<property name="wsCoordinator" ref="wsCoordinator"/>
	</bean>

	<!-- Job subsystem -->
	<bean id="jobCoordinator" class="com.remotr.subsystem.job.JobCoordinatorDefault">
		<property name="deviceCoordinator" ref="deviceCoordinator" />
		<property name="eventCoordinator" ref="eventCoordinator" />
		<property name="resourceCoordinator" ref="resourceCoordinator" />
	</bean>
	<bean id="jobCoordinatorWs" class="com.remotr.subsystem.job.JobCoordinatorService">
		<property name="wsCoordinator" ref="wsCoordinator" />
		<property name="jobCoordinator" ref="jobCoordinator" />
		<property name="deviceCoordinator" ref="deviceCoordinator" />
	</bean>

</beans>